/* Set the background color for the entire window */
body {
    background-color: #193622; /* Darker and less saturated background color for the window */
    margin: 0;
    padding: 0;
}

/* Set default text color and background color for the container */
.container {
    text-align: center; /* Center the content horizontally */
    align-items: center;
    min-height: 100vh;
    background-color: #264123; /* Background color for the container */
    color: #e0dbb3; /* Text color for the content inside the container */
    max-width: 800px; /* Limit the width of the content container */
    margin: 20px auto; /* Add margin to the container (top and bottom: 20px, left and right: auto) */
    padding: 0 20px; /* Add padding to the left and right sides of the container */
}

h1 {
    color: #4CAF50; /* Brighter color for the h1 element */
}

/* Style buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Additional styling as needed for your specific elements */
